<div class="w-full h-screen flex justify-center items-center">
  <div
    class="w-[400px] min-h-[420px] flex flex-col overflow-hidden shadow-sm border border-black rounded-lg"
  >
    <div class="w-full h-[200px] flex object-cover">
      <img
        alt="article-img"
        src="{{ source }}"
        width="100%"
        height="100%"
      />
    </div>
    <div class="w-full min-h-220 flex flex-col justify-between p-6">
      <div class="min-h-115">
        <span class="text-[28px]">{{ title_heading }}</span>
        <p class="w-[300px] min-h-72">{{ content }}</p>
      </div>
      <div class="w-full flex justify-end">
        <span class="cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
            />
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>